@font-face {
  font-family: 'Now-Bold';
  src: local('Now-Bold'), url(./Now-Bold.otf) format('otf');
}

/* SECCIONES Y CONTAINERS */

.Home {
  text-align: center;
}

body {
  background-color: #FFEBCE;
}

.logo-bq {
  width: 50px;
}


.bienvenida {
  font-family: 'Now-Bold';
  color: #d86262;

}

.modo {
  font-family: 'Now-Bold';
  color: #d86262;
}

.menu-container {
  background-color: #FFEBCE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  float: top left;
}

.mesas-link,
.cocina-link {
  font-family: 'Now-Bold';
  font-size: 50px;
  background-color: #48A1AD;
  color: #fff3e2;
  width: 50%;
  padding: 30px;
  border-radius: 30px;
  margin-right: 20px;
}

.mesas-container,
.cocina-container {
  background-color: #FFEBCE;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  float: top;
}

.desayuno {
  position: absolute;
  top: 20px;
  left: 20px;
  /* display: flex;
  flex-direction: column; */
}

.almuerzo {
  position: absolute;
  top: 60px;
  right: 800px;
  /* display: flex;
  flex-direction: column; */

}



/* HEADERS */

.top-mesas {
  display: flex;
  flex-direction: column;
  text-decoration: underline;
  font-family: 'Now-Bold';
  font-size: 50px;
  color: #d86262;
  align-items: center;

}

.top-cocina {
  display: flex;
  flex-direction: column;
  text-decoration: underline;
  font-family: 'Now-Bold';
  font-size: 50px;
  color: #d86262;
  align-items: center;
}

.desayuno-header,
.almuerzo-header {
  display: flex;
  flex-direction: column;
  text-decoration: underline;
  font-family: 'Now-Bold';
  font-size: 40px;
  color: #d86262;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}


/* BOTONES ALMUERZO Y DESAYUNO */
 
.boton-item-d {
  display: grid;
  font-family: 'Now-Bold';
  font-size: 20px;
  color: #fff3e2;
  background-color: #48A1AD;
  border-radius: 60px;
  width: 90%;
  padding: 15px;
  text-align: center;
  align-items: left;

}

.boton-item-a {
  display: grid;
  font-family: 'Now-Bold';
  font-size: 20px;
  color: #fff3e2;
  float: top center;
  background-color: #48A1AD;
  border-radius: 60px;
  width: 80%;
  padding: 15px;
  text-align: center;
  align-items: center;
}


/* SECCION PEDIDO */

.pedido {
  /* background-image: url(/Users/galletabarnett/BurgerQueen/src/assets/img/notacarrito.png); */
  position: absolute;
  top: 60px;
  right: 20px;
}

.total-header {
  display: flex;
  flex-direction: column;
  text-decoration: underline;
  font-family: 'Now-Bold';
  font-size: 30px;
  color: #d86262;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 10px; */
}

.items-del-pedido {
  display: flex;
  font-family: 'Now-Bold';
  font-size: 15px;
  color: #fff3e2;
  background-color: #48A1AD;
  border-radius: 60px;
  width: 30%;
  padding: 20px;
  text-align: center;
  align-items: center;
}

.total-pedido,
.nombre-clienta {
  display: flex;
  font-family: 'Now-Bold';
  font-size: 25px;
  color: #d86262;
  align-items: left;
  justify-content: left;
  margin-bottom: 30px;

}

.input-nombre {
  font-family: 'Now-Bold';
  font-size: 20px;
  color: #d86262;
  background-color: #fff3e2;
  border-radius: 60px;
  width: 20%;
  padding: 8px;
  margin-left: 20px;
}

.nota-pedido {
  width: 700px;
  margin-left: 1040px;
  margin-top: -30px;
}


.boton-enviar {
  display: grid;
  font-family: 'Now-Bold';
  font-size: 20px;
  color: #d86262;
  background-color: #ffbd59;
  border-radius: 60px;
  width: 50%;
  padding: 15px;
}

.boton-basurero {
  width: 30px;
  background: none;
  border: none;
} 

/* MEDIA QUERY TABLET */

@media only screen and (max-width: 768px) {

  .desayuno {
    position: absolute;
    left: 20px;
  }
  
  .almuerzo {
    position: absolute;
    right: 450px;

  }

  .desayuno-header,
  .almuerzo-header {
  font-size: 20px;
  }

  .boton-item-d {
    font-size: 10px;
    border-radius: 30px;
    width: 75%;
    padding: 7px;
    align-items: center;

  }

  .boton-item-a {
    font-size: 10px;
    border-radius: 30px;
    width: 75%;
    padding: 7px;
    align-items: center;

  }

  .nota-pedido {
    width: 300px;
    margin-left: 450px;
    margin-top: -30px;
  }

  .total-header {
    font-size: 20px;
    margin-left: 80px;
  }

  .nombre-clienta,
  .total-pedido {
    font-size: 15px;
  }

  .input-nombre {
    font-size: 15px;
    border-radius: 30px;
    width: 20%;
    padding: 4px;
    margin-left: 10px;
  }

  .items-del-pedido {
    font-size: 5px;
    border-radius: 50px;
    width: 40%;
    padding: 5px;

  }

  .boton-basurero {
    width: 20px;
  } 

  .boton-enviar {
    font-size: 10px;
    border-radius: 20px;
    width: 20%;
    padding: 5px;
  }

}












