@font-face {
  font-family: 'Now-Bold';
  src: local('Now-Bold'), url(./Now-Bold.otf) format('otf');
}

.Home {
  text-align: center;
}

.bienvenida {
  font-family: 'Now-Bold';
  color: #d86262;

}

.modo {
  font-family: 'Now-Bold';
  color: #d86262;
}

.menu-container {
  background-color: #fff3e2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  float: top left;
}

.mesas-link,
.cocina-link {
  font-family: 'Now-Bold';
  font-size: 50px;
  background-color: #48A1AD;
  color: #fff3e2;
  width: 50%;
  padding: 30px;
  border-radius: 30px;
  margin-right: 20px;
}

.mesas-container,
.cocina-container {
  background-color: #fff3e2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  float: top;
}

.desayuno {
  position: absolute;
  top: 20px;
  left: 20px;
  /* display: flex;
  flex-direction: column; */
}

.almuerzo {
  position: absolute;
  top: 60px;
  right: 800px;
  /* display: flex;
  flex-direction: column; */

}

.pedido {
  position: absolute;
  top: 60px;
  right: 20px;
}

.top-mesas, 
.top-cocina {
  display: flex;
  flex-direction: column;
  text-decoration: underline;
  font-family: 'Now-Bold';
  font-size: 50px;
  color: #d86262;
  align-items: center;
  margin-bottom: 700px;
}

.desayuno-header,
.almuerzo-header,
.total-header {
  display: flex;
  flex-direction: column;
  text-decoration: underline;
  font-family: 'Now-Bold';
  font-size: 40px;
  color: #d86262;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
 
.boton-item-d {
  display: grid;
  font-family: 'Now-Bold';
  font-size: 20px;
  color: #fff3e2;
  background-color: #48A1AD;
  border-radius: 60px;
  width: 90%;
  padding: 15px;
  text-align: center;
  align-items: left;

}

.boton-item-a {
  display: grid;
  font-family: 'Now-Bold';
  font-size: 20px;
  color: #fff3e2;
  float: top center;
  background-color: #48A1AD;
  border-radius: 60px;
  width: 80%;
  padding: 15px;
  text-align: center;
  align-items: center;
}

.boton-enviar {
  display: grid;
  font-family: 'Now-Bold';
  font-size: 20px;
  color: #d86262;
  float: top center;
  background-color: #ffbd59;
  border-radius: 60px;
  width: 80%;
  padding: 15px;
  text-align: center;
  align-items: center;
}

.items-del-pedido {
  display: flex;
  font-family: 'Now-Bold';
  font-size: 20px;
  color: #fff3e2;
  background-color: #48A1AD;
  border-radius: 60px;
  width: 40%;
  padding: 20px;
  text-align: center;
  align-items: center;
}

.total-pedido,
.nombre-clienta {
  display: flex;
  font-family: 'Now-Bold';
  font-size: 30px;
  color: #d86262;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

}

.input-nombre {
  font-family: 'Now-Bold';
  font-size: 20px;
  color: #d86262;
  background-color: #fff3e2;
  border-radius: 60px;
  width: 38%;
  padding: 10px;
  text-align: center;
  align-items: center;
}



/* .nota-pedido {
  width: 500px;
} */

.boton-basurero {
  width: 20px;
  
} 




