@font-face {
  font-family: 'Now-Bold';
  src: local('Now-Bold'), url(./Now-Bold.otf) format('otf');
}

.Home {
  text-align: center;
}

.bienvenida {
  font-family: 'Now-Bold';
  color: #d86262;

}

.modo {
  font-family: 'Now-Bold';
  color: #d86262;
}

.menu-container {
  background-color: #fff3e2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  float: top left;
}

.mesas-link,
.cocina-link {
  font-family: 'Now-Bold';
  font-size: 50px;
  background-color: #d2dfbb;
  color: #d86262;
  width: 50%;
  padding: 30px;
  /* border-radius: 60px; */
  margin-right: 20px;
}

.mesas-container,
.cocina-container {
  background-color: #fff3e2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  float: top;
}

.desayuno {
  display: flex;
  align-items: left;
  gap: 30px;
}

.almuerzo {
  display: flex;
  align-items: center;
  gap: 30px;
}


.top-mesas, 
.top-cocina,
.desayuno-header,
.almuerzo-header,
.total-header {
  text-decoration: underline;
  font-family: 'Now-Bold';
  font-size: 50px;
  color: #d86262;
  float: center;
  margin-bottom: 100px;
}

 
.boton-item-d {
  font-family: 'Now-Bold';
  font-size: 20px;
  color: #d86262;
  background-color: #d2dfbb;
  border-radius: 60px;
  width: 20%;
  padding: 15px;
  text-align: center;
  align-items: left;

}

.boton-item-a {

  font-family: 'Now-Bold';
  font-size: 20px;
  color: #d86262;
  float: top center;
  background-color: #d2dfbb;
  border-radius: 60px;
  width: 20%;
  padding: 15px;
  text-align: center;
  align-items: center;
}




